<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="modules"
             type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <modules>
    <module moduleName="Common"
            assemblyFile="Kengic.Was.Presentation.Server.Module.Common.dll"
            moduleType="Kengic.Was.Presentation.Server.Module.Common.CommonModule, Kengic.Was.Presentation.Server.Module.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            startupLoaded="true" />
    <module moduleName="Operators"
            assemblyFile="Kengic.Was.Presentation.Server.Module.Operators.dll"
            moduleType="Kengic.Was.Presentation.Server.Module.Operators.OperatorsModule, Kengic.Was.Presentation.Server.Module.Operators, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            startupLoaded="true">
      <dependencies>
        <dependency moduleName="Common" />
      </dependencies>
    </module>
    <module moduleName="WcfServices"
            assemblyFile="Kengic.Was.Presentation.Server.Module.WcfServices.dll"
            moduleType="Kengic.Was.Presentation.Server.Module.WcfServices.WcfServicesModule, Kengic.Was.Presentation.Server.Module.WcfServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            startupLoaded="true">
      <dependencies>
        <dependency moduleName="Common" />
      </dependencies>
    </module>
    <module moduleName="Connectors"
            assemblyFile="Kengic.Was.Presentation.Server.Module.Connectors.dll"
            moduleType="Kengic.Was.Presentation.Server.Module.Connectors.ConnectorsModule, Kengic.Was.Presentation.Server.Module.Connectors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            startupLoaded="true">
      <dependencies>
        <dependency moduleName="Common" />
      </dependencies>
    </module>
  </modules>
</configuration>