<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="messageSection"
             type="Kengic.Was.CrossCutting.ConfigurationSection.Messages.MessageSection, Kengic.Was.CrossCutting.ConfigurationSection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <messageSection xmlns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Messages">
    <messages>
      <messageElement id="Separator--"
                      name="Separator--"
                      code="Separator--">
        <languages>
          <languageElement id="English"
                           messageInfo="-------------------------------------" />
          <languageElement id="Chinese"
                           messageInfo="-------------------------------------" />
        </languages>
      </messageElement>

      <messageElement id="StartToInitializeOperator"
                      name="StartToInitializeOperator"
                      code="StartToInitializeOperator">
        <languages>
          <languageElement id="English"
                           messageInfo="----------Start to initialize operator" />
          <languageElement id="Chinese"
                           messageInfo="----------Start to initialize operator" />
        </languages>
      </messageElement>

      <messageElement id="StartOperator"
                      name="StartOperator"
                      code="StartOperator">
        <languages>
          <languageElement id="English"
                           messageInfo="----------Start operator" />
          <languageElement id="Chinese"
                           messageInfo="----------Start operator" />
        </languages>
      </messageElement>

      <messageElement id="StopOperator"
                      name="StopOperator"
                      code="StopOperator">
        <languages>
          <languageElement id="English"
                           messageInfo="----------Stop operator" />
          <languageElement id="Chinese"
                           messageInfo="----------Stop operator" />
        </languages>
      </messageElement>

      <messageElement id="StartThread"
                      name="StartThread"
                      code="StartThread">
        <languages>
          <languageElement id="English"
                           messageInfo="----------Start thread" />
          <languageElement id="Chinese"
                           messageInfo="----------Start thread" />
        </languages>
      </messageElement>

      <messageElement id="StopThread"
                      name="StopThread"
                      code="StopThread">
        <languages>
          <languageElement id="English"
                           messageInfo="----------Stop thread" />
          <languageElement id="Chinese"
                           messageInfo="----------Stop thread" />
        </languages>
      </messageElement>

      <messageElement id="ReceiveAsyncMessage"
                      name="ReceiveAsyncMessage"
                      code="ReceiveAsyncMessage">
        <languages>
          <languageElement id="English"
                           messageInfo="Receive async message" />
          <languageElement id="Chinese"
                           messageInfo="Receive async message" />
        </languages>
      </messageElement>

      <messageElement id="ReceiveSyncMessage"
                      name="ReceiveSyncMessage"
                      code="ReceiveSyncMessage">
        <languages>
          <languageElement id="English"
                           messageInfo="Receive sync message" />
          <languageElement id="Chinese"
                           messageInfo="Receive sync message" />
        </languages>
      </messageElement>

      <messageElement id="InitializeOperatorSuccess"
                      name="InitializeOperatorSuccess"
                      code="InitializeOperatorSuccess">
        <languages>
          <languageElement id="English"
                           messageInfo="Initialize Operator successfully" />
          <languageElement id="Chinese"
                           messageInfo="Initialize Operator successfully" />
        </languages>
      </messageElement>

      <messageElement id="InitializeOperatorException"
                      name="InitializeOperatorException"
                      code="InitializeOperatorException">
        <languages>
          <languageElement id="English"
                           messageInfo="Initialize Operator exception" />
          <languageElement id="Chinese"
                           messageInfo="Initialize Operator exception" />
        </languages>
      </messageElement>

      <messageElement id="StartOperatorSuccess"
                      name="StartOperatorSuccess"
                      code="StartOperatorSuccess">
        <languages>
          <languageElement id="English"
                           messageInfo="Start Operator successfully" />
          <languageElement id="Chinese"
                           messageInfo="Start Operator successfully" />
        </languages>
      </messageElement>

      <messageElement id="StartOperatorException"
                      name="StartOperatorException"
                      code="StartOperatorException">
        <languages>
          <languageElement id="English"
                           messageInfo="Start Operator exception" />
          <languageElement id="Chinese"
                           messageInfo="Start Operator exception" />
        </languages>
      </messageElement>

      <messageElement id="StartOperatorFailure"
                      name="StartOperatorFailure"
                      code="StartOperatorFailure">
        <languages>
          <languageElement id="English"
                           messageInfo="Start Operator failure,please check operator log" />
          <languageElement id="Chinese"
                           messageInfo="Start Operator failure,please check operator log" />
        </languages>
      </messageElement>

      <messageElement id="ActiveOperatorSuccess"
                      name="ActiveOperatorSuccess"
                      code="ActiveOperatorSuccess">
        <languages>
          <languageElement id="English"
                           messageInfo="Active Operator successfully" />
          <languageElement id="Chinese"
                           messageInfo="Active Operator successfully" />
        </languages>
      </messageElement>

      <messageElement id="ActiveOperatorException"
                      name="ActiveOperatorException"
                      code="ActiveOperatorException">
        <languages>
          <languageElement id="English"
                           messageInfo="Active Operator exception" />
          <languageElement id="Chinese"
                           messageInfo="Active Operator exception" />
        </languages>
      </messageElement>


      <messageElement id="CloseOperatorSuccess"
                      name="CloseOperatorSuccess"
                      code="CloseOperatorSuccess">
        <languages>
          <languageElement id="English"
                           messageInfo="Close Operator successfully" />
          <languageElement id="Chinese"
                           messageInfo="Close Operator successfully" />
        </languages>
      </messageElement>

      <messageElement id="CloseOperatorException"
                      name="CloseOperatorException"
                      code="CloseOperatorException">
        <languages>
          <languageElement id="English"
                           messageInfo="Close Operator exception" />
          <languageElement id="Chinese"
                           messageInfo="Close Operator exception" />
        </languages>
      </messageElement>

      <messageElement id="CreateInstanceFailure"
                      name="CreateInstanceFailure"
                      code="CreateInstanceFailure">
        <languages>
          <languageElement id="English"
                           messageInfo="Create instance failure" />
          <languageElement id="Chinese"
                           messageInfo="Create instance failure" />
        </languages>
      </messageElement>

      <messageElement id="NoTypeWhenReflect"
                      name="NoTypeWhenReflect"
                      code="NoTypeWhenReflect">
        <languages>
          <languageElement id="English"
                           messageInfo="Haven't type when reflect" />
          <languageElement id="Chinese"
                           messageInfo="Haven't type when reflect" />
        </languages>
      </messageElement>

      <messageElement id="NoReceiveMessage"
                      name="NoReceiveMessage"
                      code="NoReceiveMessage">
        <languages>
          <languageElement id="English"
                           messageInfo="Operator is not in receiving status" />
          <languageElement id="Chinese"
                           messageInfo="Operator is not in receiving status" />
        </languages>
      </messageElement>

      <messageElement id="FileIsNotExist"
                      name="FileIsNotExist"
                      code="FileIsNotExist">
        <languages>
          <languageElement id="English"
                           messageInfo="File is not exist" />
          <languageElement id="Chinese"
                           messageInfo="File is not exist" />
        </languages>
      </messageElement>

      <messageElement id="InstanceIsNotExist"
                      name="InstanceIsNotExist"
                      code="InstanceIsNotExist">
        <languages>
          <languageElement id="English"
                           messageInfo="Instance is no exist" />
          <languageElement id="Chinese"
                           messageInfo="Instance is no exist" />
        </languages>
      </messageElement>

      <messageElement id="OperatorIsNotExist"
                      name="OperatorIsNotExist"
                      code="OperatorIsNotExist">
        <languages>
          <languageElement id="English"
                           messageInfo="Operator is no exist" />
          <languageElement id="Chinese"
                           messageInfo="Operator is no exist" />
        </languages>
      </messageElement>

      <messageElement id="MethodIsNotExist"
                      name="MethodIsNotExist"
                      code="MethodIsNotExist">
        <languages>
          <languageElement id="English"
                           messageInfo="Method is no exist" />
          <languageElement id="Chinese"
                           messageInfo="Method is no exist" />
        </languages>
      </messageElement>

      <messageElement id="WorkTaskIsExist"
                      name="WorkTaskIsExist"
                      code="WorkTaskIsExist">
        <languages>
          <languageElement id="English"
                           messageInfo="Work task is already exist" />
          <languageElement id="Chinese"
                           messageInfo="Work task is already exist" />
        </languages>
      </messageElement>


      <messageElement id="ActivityContractIsNotExist"
                      name="ActivityContractIsNotExist"
                      code="ActivityContractIsNotExist">
        <languages>
          <languageElement id="English"
                           messageInfo="Activity contract is no exist" />
          <languageElement id="Chinese"
                           messageInfo="Activity contract is no exist" />
        </languages>
      </messageElement>

      <messageElement id="ObjectIsNotExist"
                      name="ObjectIsNotExist"
                      code="ObjectIsNotExist">
        <languages>
          <languageElement id="English"
                           messageInfo="Object is no exist" />
          <languageElement id="Chinese"
                           messageInfo="Object is no exist" />
        </languages>
      </messageElement>

      <messageElement id="MultiObjectExist"
                      name="MultiObjectExist"
                      code="MultiObjectExist">
        <languages>
          <languageElement id="English"
                           messageInfo="Multi object exist" />
          <languageElement id="Chinese"
                           messageInfo="Multi object exist" />
        </languages>
      </messageElement>

      <messageElement id="RegisterParameter"
                      name="RegisterParameter"
                      code="RegisterParameter">
        <languages>
          <languageElement id="English"
                           messageInfo="Register Operator parameter" />
          <languageElement id="Chinese"
                           messageInfo="注册操作者参数" />
        </languages>
      </messageElement>

      <messageElement id="RegisterActivity"
                      name="RegisterActivity"
                      code="RegisterActivity">
        <languages>
          <languageElement id="English"
                           messageInfo="Register activity contract" />
          <languageElement id="Chinese"
                           messageInfo="Register activity contract" />
        </languages>
      </messageElement>

      <messageElement id="RegisterMessageQueue"
                      name="RegisterMessageQueue"
                      code="RegisterMessageQueue">
        <languages>
          <languageElement id="English"
                           messageInfo="Register message queue" />
          <languageElement id="Chinese"
                           messageInfo="Register message queue" />
        </languages>
      </messageElement>

      <messageElement id="RegisterQueue"
                      name="RegisterQueue"
                      code="RegisterQueue">
        <languages>
          <languageElement id="English"
                           messageInfo="Register queue" />
          <languageElement id="Chinese"
                           messageInfo="Register queue" />
        </languages>
      </messageElement>

      <messageElement id="RegisterThread"
                      name="RegisterThread"
                      code="RegisterThread">
        <languages>
          <languageElement id="English"
                           messageInfo="Register thread" />
          <languageElement id="Chinese"
                           messageInfo="Register thread" />
        </languages>
      </messageElement>

      <messageElement id="RegisterProcess"
                      name="RegisterProcess"
                      code="RegisterProcess">
        <languages>
          <languageElement id="English"
                           messageInfo="Register process" />
          <languageElement id="Chinese"
                           messageInfo="Register process" />
        </languages>
      </messageElement>

      <messageElement id="RegisterMethod"
                      name="RegisterMethod"
                      code="RegisterMethod">
        <languages>
          <languageElement id="English"
                           messageInfo="Register Method" />
          <languageElement id="Chinese"
                           messageInfo="Register Method" />
        </languages>
      </messageElement>


      <messageElement id="MethodExecuteException"
                      name="MethodExecuteException"
                      code="MethodExecuteException">
        <languages>
          <languageElement id="English"
                           messageInfo="Method execute exception" />
          <languageElement id="Chinese"
                           messageInfo="Method execute exception" />
        </languages>
      </messageElement>

      <messageElement id="LoadWorkTaskException"
                      name="LoadWorkTaskException"
                      code="LoadWorkTaskException">
        <languages>
          <languageElement id="English"
                           messageInfo="Load work exception" />
          <languageElement id="Chinese"
                           messageInfo="Load work exception" />
        </languages>
      </messageElement>

      <messageElement id="CreateWorkTaskSuccess"
                      name="CreateWorkTaskSuccess"
                      code="CreateWorkTaskSuccess">
        <languages>
          <languageElement id="English"
                           messageInfo="Create work task successfully" />
          <languageElement id="Chinese"
                           messageInfo="Create work task successfully" />
        </languages>
      </messageElement>

      <messageElement id="UpdateWorkTaskSuccess"
                      name="UpdateWorkTaskSuccess"
                      code="UpdateWorkTaskSuccess">
        <languages>
          <languageElement id="English"
                           messageInfo="Update work task successfully" />
          <languageElement id="Chinese"
                           messageInfo="Update work task successfully" />
        </languages>
      </messageElement>

      <messageElement id="CancelWorkTaskSuccess"
                      name="CancelWorkTaskSuccess"
                      code="CancelWorkTaskSuccess">
        <languages>
          <languageElement id="English"
                           messageInfo="Cancel work task successfully" />
          <languageElement id="Chinese"
                           messageInfo="Cancel work task successfully" />
        </languages>
      </messageElement>

      <messageElement id="SuspendWorkTaskSuccess"
                      name="SuspendWorkTaskSuccess"
                      code="SuspendWorkTaskSuccess">
        <languages>
          <languageElement id="English"
                           messageInfo="Suspend work task successfully" />
          <languageElement id="Chinese"
                           messageInfo="Suspend work task successfully" />
        </languages>
      </messageElement>

      <messageElement id="NoDestination"
                      name="NoDestination"
                      code="NoDestination">
        <languages>
          <languageElement id="English"
                           messageInfo="No destination" />
          <languageElement id="Chinese"
                           messageInfo="No destination" />
        </languages>
      </messageElement>

      <messageElement id="GetOperatorActivityFailure"
                      name="GetOperatorActivityFailure"
                      code="GetOperatorActivityFailure">
        <languages>
          <languageElement id="English"
                           messageInfo="Get operator activity failure" />
          <languageElement id="Chinese"
                           messageInfo="Get operator activity failure" />
        </languages>
      </messageElement>

      <messageElement id="GetSendQueueFailure"
                      name="GetSendQueueFailure"
                      code="GetSendQueueFailure">
        <languages>
          <languageElement id="English"
                           messageInfo="Get send queue failure" />
          <languageElement id="Chinese"
                           messageInfo="Get send queue failure" />
        </languages>
      </messageElement>

      <messageElement id="ReleaseWorkTaskFailure"
                      name="ReleaseWorkTaskFailure"
                      code="ReleaseWorkTaskFailure">
        <languages>
          <languageElement id="English"
                           messageInfo="Release work task failure" />
          <languageElement id="Chinese"
                           messageInfo="Release work task failure" />
        </languages>
      </messageElement>

      <messageElement id="NoReceiveMessageQueue"
                      name="NoReceiveMessageQueue"
                      code="NoReceiveMessageQueue">
        <languages>
          <languageElement id="English"
                           messageInfo="No receive message queue" />
          <languageElement id="Chinese"
                           messageInfo="No receive message queue" />
        </languages>
      </messageElement>

      <messageElement id="SendMessage"
                      name="SendMessage"
                      code="SendMessage">
        <languages>
          <languageElement id="English"
                           messageInfo="Send message" />
          <languageElement id="Chinese"
                           messageInfo="Send message" />
        </languages>
      </messageElement>

      <messageElement id="NoExecutor"
                      name="NoExecutor"
                      code="NoExecutor">
        <languages>
          <languageElement id="English"
                           messageInfo="No executor" />
          <languageElement id="Chinese"
                           messageInfo="No executor" />
        </languages>
      </messageElement>

      <messageElement id="CreateSuccess"
                      name="CreateSuccess"
                      code="CreateSuccess">
        <languages>
          <languageElement id="English"
                           messageInfo="Create Success" />
          <languageElement id="Chinese"
                           messageInfo="创建成功" />
        </languages>
      </messageElement>

      <messageElement id="Disconnect"
                      name="Disconnect"
                      code="Disconnect">
        <languages>
          <languageElement id="English"
                           messageInfo="Dis Connect" />
          <languageElement id="Chinese"
                           messageInfo="连接断开" />
        </languages>
      </messageElement>

    </messages>
  </messageSection>
</configuration>