<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="fileConfigSection"
             type="Kengic.Was.CrossCutting.ConfigurationSection.FileConfigs.FileConfigSection, Kengic.Was.CrossCutting.ConfigurationSection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <fileConfigSection xmlns="urn:Kengic.Was.CrossCutting.ConfigurationSection.FileConfigs">
    <fileConfigs>
      <fileConfigElement id="Common"
                         name="Common"
                         code="Common"
                         filePath="Unitys\Common.config"
                         sectionName="unitySection" />

      <fileConfigElement id="Resource"
                         name="Resource"
                         code="Resource"
                         filePath="Unitys\Resource.config"
                         sectionName="unitySection" />

      <fileConfigElement id="Connector"
                         name="Connector"
                         code="Connector"
                         filePath="Unitys\Connector.config"
                         sectionName="unitySection" />

      <fileConfigElement id="System"
                         name="System"
                         code="System"
                         filePath="Unitys\System.config"
                         sectionName="unitySection" />

      <fileConfigElement id="Sorter"
                         name="Sorter"
                         code="Sorter"
                         filePath="Unitys\Sorter.config"
                         sectionName="unitySection" />

      <fileConfigElement id="SdsOperator"
                         name="SdsOperator"
                         code="SdsOperator"
                         filePath="Unitys\SdsOperator.config"
                         sectionName="unitySection" />

  

    </fileConfigs>
  </fileConfigSection>
</configuration>