<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unitySection"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unitySection xmlns="http://schemas.microsoft.com/practices/2010/unity">


    <!--<assembly name="Kengic.Was.Connector.BarcodePrinter.Toshiba" />-->
    <assembly name="Kengic.Was.Connector.Common" />
    <assembly name="Kengic.Was.Connector.Prodave" />
    <assembly name="Kengic.Was.Connector.Scs" />
    <assembly name="Kengic.Was.Connector.ImaVision" />
    <assembly name="Kengic.Was.Connector.Jd" />
    <assembly name="Kengic.Was.Connector.ImaVision" />
    <assembly name="Kengic.Was.Connector.WebEasy" />
    <!--<namespace name="Kengic.Was.Connector.BarcodePrinter.Toshiba" />-->
    <namespace name="Kengic.Was.Connector.Common" />
    <namespace name="Kengic.Was.Connector.Prodave" />
    <namespace name="Kengic.Was.Connector.Scs" />
    <namespace name="Kengic.Was.Connector.ImaVision" />
    <namespace name="Kengic.Was.Connector.Jd" />
    <namespace name="Kengic.Was.Connector.WebEasy" />
    <container>
   
      <register type="IConnector"
                mapTo="ProdaveClient"
                name="ProdaveClient" />

      <register type="IConnector"
                mapTo="ScsClient"
                name="ScsClient" />

      <register type="IConnector"
                mapTo="ScsServer"
                name="ScsServer" />

      <register type="IConnector"
                mapTo="ImaVisionSocketClient"
                name="ImaVisionSocketClient" />
      <register type="IConnector"
               mapTo="WebEasySocketClient"
               name="WebEasySocketClient" />

      <register type="IConnector"
           mapTo="JdSocketClient"
           name="JdSocketClient" />
      
    </container>
  </unitySection>
</configuration>