<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unitySection"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unitySection xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--AccessControl-->
    <assembly name="Kengic.Was.Wcf.AccessControl" />
    <assembly name="Kengic.Was.Wcf.IAccessControl" />
    <assembly name="Kengic.Was.Domain.AccessControl" />
    <assembly name="Kengic.Was.Application.Services.AccessControl" />
    <assembly name="Kengic.Was.Domain.Entity.AccessControl" />

    <namespace name="Kengic.Was.Application.Services.AccessControl.Companys" />
    <namespace name="Kengic.Was.Application.Services.AccessControl.Departments" />
    <namespace name="Kengic.Was.Application.Services.AccessControl.Passwords" />
    <namespace name="Kengic.Was.Application.Services.AccessControl.Personnels" />
    <namespace name="Kengic.Was.Application.Services.AccessControl.Privileges" />
    <namespace name="Kengic.Was.Application.Services.AccessControl.Roles" />
    <namespace name="Kengic.Was.Application.Services.AccessControl.Terminals" />
    <namespace name="Kengic.Was.Application.Services.AccessControl.Users" />
    <namespace name="Kengic.Was.Application.Services.AccessControl.Workgroups" />

    <namespace name="Kengic.Was.Domain.AccessControl.Companys" />
    <namespace name="Kengic.Was.Domain.AccessControl.Departments" />
    <namespace name="Kengic.Was.Domain.AccessControl.FunctionPrivileges" />
    <namespace name="Kengic.Was.Domain.AccessControl.Passwords" />
    <namespace name="Kengic.Was.Domain.AccessControl.Personnels" />
    <namespace name="Kengic.Was.Domain.AccessControl.Roles" />
    <namespace name="Kengic.Was.Domain.AccessControl.Terminals" />
    <namespace name="Kengic.Was.Domain.AccessControl.Users" />
    <namespace name="Kengic.Was.Domain.AccessControl.Workgroups" />
    <namespace name="Kengic.Was.Domain.Entity.AccessControl.Companys" />
    <namespace name="Kengic.Was.Domain.Entity.AccessControl.Departments" />
    <namespace name="Kengic.Was.Domain.Entity.AccessControl.FunctionPrivileges" />
    <namespace name="Kengic.Was.Domain.Entity.AccessControl.Passwords" />
    <namespace name="Kengic.Was.Domain.Entity.AccessControl.Personnels" />
    <namespace name="Kengic.Was.Domain.Entity.AccessControl.Roles" />
    <namespace name="Kengic.Was.Domain.Entity.AccessControl.Terminals" />
    <namespace name="Kengic.Was.Domain.Entity.AccessControl.Users" />
    <namespace name="Kengic.Was.Domain.Entity.AccessControl.Workgroups" />

    <!--DisplayMessages-->
    <assembly name="Kengic.Was.Domain.DisplayMessages" />
    <assembly name="Kengic.Was.Domain.Entity.DisplayMessage" />

    <assembly name="Kengic.Was.Application.Services.DisplayMessages" />
    <assembly name="Kengic.Was.Wcf.IDisplayMessages" />
    <assembly name="Kengic.Was.Wcf.DisplayMessages" />

    <!--Executors-->
    <assembly name="Kengic.Was.Wcf.Executors" />
    <assembly name="Kengic.Was.Wcf.IExecutors" />
    <assembly name="Kengic.Was.Application.Services.Executors" />
    <assembly name="Kengic.Was.Domain.Executors" />
    <assembly name="Kengic.Was.Domain.Entity.Executor" />


    <namespace name="Kengic.Was.Wcf.AccessControl" />
    <namespace name="Kengic.Was.Wcf.IAccessControl" />

    <namespace name="Kengic.Was.Wcf.IExecutors" />
    <namespace name="Kengic.Was.Wcf.Executors" />
    <namespace name="Kengic.Was.Application.Services.Executors" />
    <namespace name="Kengic.Was.Domain.Executors" />
    <namespace name="Kengic.Was.Domain.Entity.Executor" />

    <!--Routes-->
    <!--<assembly name="Kengic.Was.Wcf.Routes" />
    <assembly name="Kengic.Was.Wcf.IRoutes" />
    <assembly name="Kengic.Was.Application.Services.Routes" />
    <assembly name="Kengic.Was.Domain.Routes" />
    <assembly name="Kengic.Was.Domain.Entity.Route" />

    <namespace name="Kengic.Was.Wcf.Routes" />
    <namespace name="Kengic.Was.Wcf.IRoutes" />
    <namespace name="Kengic.Was.Application.Services.Routes" />
    <namespace name="Kengic.Was.Domain.Routes" />
    <namespace name="Kengic.Was.Domain.Entity.Route" />

    --><!--Locations--><!--
    <assembly name="Kengic.Was.Wcf.Locations" />
    <assembly name="Kengic.Was.Wcf.ILocations" />
    <assembly name="Kengic.Was.Application.Services.Locations" />
    <assembly name="Kengic.Was.Domain.Locations" />
    <assembly name="Kengic.Was.Domain.Entity.Location" />

    <namespace name="Kengic.Was.Wcf.ILocations" />
    <namespace name="Kengic.Was.Wcf.Locations" />
    <namespace name="Kengic.Was.Application.Services.Locations" />
    <namespace name="Kengic.Was.Domain.Locations" />
    <namespace name="Kengic.Was.Domain.Entity.Location" />-->

    <!--DisplayMessages-->
    <namespace name="Kengic.Was.Domain.DisplayMessages" />
    <namespace name="Kengic.Was.Domain.Entity.DisplayMessage" />

    <namespace name="Kengic.Was.Wcf.DisplayMessages" />
    <namespace name="Kengic.Was.Wcf.IDisplayMessages" />
    <namespace name="Kengic.Was.Application.Services.DisplayMessages" />


    <container>
      <!--Executors-->
      <!--<register type="IExecutorsService"
                mapTo="ExecutorsService" />-->
      <register type="IExecutorsApplicationService"
                mapTo="ExecutorsApplicationService">
        <lifetime type="singleton" />

      </register>

      <register type="IWasExecutorRepository"
                mapTo="WasExecutorRepository">
        <lifetime type="singleton" />
      </register>

      <!--Routes-->
      <!--<register type="IRoutesService"
                mapTo="RoutesService" />-->
      <!--<register type="IRouteEdgesApplicationService"
                mapTo="RouteEdgesApplicationService">
        <lifetime type="singleton" />

      </register>
      <register type="IRouteMapsApplicationService"
                mapTo="RouteMapsApplicationService">
        <lifetime type="singleton" />

      </register>
      <register type="IRouteNodesApplicationService"
                mapTo="RouteNodesApplicationService">
        <lifetime type="singleton" />

      </register>

      <register type="IRouteEdgeRepository"
                mapTo="RouteEdgeRepository">
        <lifetime type="singleton" />
      </register>

      <register type="IRouteMapRepository"
                mapTo="RouteMapRepository">
        <lifetime type="singleton" />
      </register>

      <register type="IRouteNodeRepository"
                mapTo="RouteNodeRepository">
        <lifetime type="singleton" />

      </register>-->

      <!--Locations-->
      <!--<register type="ILocationsService"
                mapTo="LocationsService"  >
        <lifetime type="singleton" />
      </register>-->
      <!--<register type="ILocationApplicationService"
                mapTo="LocationApplicationService">
        <lifetime type="singleton" />
      </register>
      <register type="ILocationTypeApplicationService"
                mapTo="LocationTypeApplicationService">
        <lifetime type="singleton" />
      </register>
      <register type="ILocationTypeRepository"
                mapTo="LocationTypeRepository">
        <lifetime type="singleton" />
      </register>-->

      <register type="IDisplayMessageService"
                mapTo="DisplayMessageService" />

      <register type="IDisplayMessageApplicationService"
                mapTo="DisplayMessageApplicationService" />

      <register type="IDisplayMessageRepository"
                mapTo="DisplayMessageRepository">
        <lifetime type="singleton" />
      </register>

      <!--AccessControl-->
      <register type="ICompanyApplicationServices"
                mapTo="CompanyApplicationServices">
        <lifetime type="singleton" />
      </register>
      <register type="IDepartmentApplicationServices"
                mapTo="DepartmentApplicationServices">
        <lifetime type="singleton" />
      </register>
      <register type="IPasswordApplicationServices"
                mapTo="PasswordApplicationServices">
        <lifetime type="singleton" />
      </register>
      <register type="IPersonnelApplicationServices"
                mapTo="PersonnelApplicationServices">
        <lifetime type="singleton" />
      </register>
      <register type="IPrivilegeApplicationServices"
                mapTo="PrivilegeApplicationServices">
        <lifetime type="singleton" />
      </register>
      <register type="IRoleApplicationServices"
                mapTo="RoleApplicationServices">
        <lifetime type="singleton" />
      </register>
      <register type="ITerminalApplicationServices"
                mapTo="TerminalApplicationServices">
        <lifetime type="singleton" />
      </register>
      <register type="IUserApplicationServices"
                mapTo="UserApplicationServices">
        <lifetime type="singleton" />
      </register>
      <register type="IWorkgroupApplicationServices"
                mapTo="WorkgroupApplicationServices">
        <lifetime type="singleton" />
      </register>

      <register type="ICompanyRepository"
                mapTo="CompanyRepository">
        <lifetime type="singleton" />
      </register>
      <register type="IDepartmentRepository"
                mapTo="DepartmentRepository">
        <lifetime type="singleton" />
      </register>
      <register type="IPersonnelRepository"
                mapTo="PersonnelRepository">
        <lifetime type="singleton" />
      </register>
      <register type="IFunctionPrivilegeRepository"
                mapTo="FunctionPrivilegeRepository">
        <lifetime type="singleton" />
      </register>
      <register type="IRoleRepository"
                mapTo="RoleRepository">
        <lifetime type="singleton" />
      </register>
      <register type="ITerminalRepository"
                mapTo="TerminalRepository">
        <lifetime type="singleton" />
      </register>
      <register type="IWorkgroupRepository"
                mapTo="WorkgroupRepository">
        <lifetime type="singleton" />
      </register>
      <register type="IPasswordRepository"
                mapTo="PasswordRepository">
        <lifetime type="singleton" />
      </register>
      <register type="IUserRepository"
                mapTo="UserRepository">
        <lifetime type="singleton" />
      </register>
    </container>
  </unitySection>
</configuration>