<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <extensions>
      <behaviorExtensions>
        <add name="ServiceLocatorInstanceProviderServiceBehavior"
             type="Kengic.Was.DistributedServices.Common.ServiceLocatorInstanceProviderServiceBehaviorElement, Kengic.Was.DistributedServices.Common" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <ServiceLocatorInstanceProviderServiceBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <services>
      <service name="SystemParameters"
               behaviorConfiguration="defaultBehavior">
        <endpoint address="net.tcp://Localhost:20001/WasService/SystemParameters"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBinding"
                  contract="Kengic.Was.Wcf.ISystemParameters.ISystemParameterService" />
        <endpoint address="net.tcp://Localhost:20001/WasService/SystemParameters/mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>