<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="typeConfigurationSection"
             type="Kengic.Was.CrossCutting.ConfigurationSection.TypeConfigurations.TypeConfigurationSection, Kengic.Was.CrossCutting.ConfigurationSection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <typeConfigurationSection xmlns="urn:Kengic.Was.CrossCutting.ConfigurationSection.TypeConfigurations">
    <typeConfigurations>
      <typeConfigurationElement id="Package"
                                code="Package"
                                name="Package"
                                type="Kengic.Was.Model.TypeConfiguration.Packages.PackageSourceWorkTaskEntityTypeConfiguration, Kengic.Was.Model.TypeConfiguration.Packages" />
    </typeConfigurations>
  </typeConfigurationSection>
</configuration>