<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="operatorSection"
             type="Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorSection, Kengic.Was.CrossCutting.ConfigurationSection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <operatorSection xmlns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Operators">
    <operators>

      <operatorElement id="SorterOperator"
                    name="SorterOperator"
                    logName="SorterOperator"
                    description="SorterOperator"
                    type="Kengic.Was.Operator.Sorter.SorterOperator,Kengic.Was.Operator.Sorter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                    startupType="Automatic"
                    filePath="Operators\SorterOperator.config"
                    sectionName="operatorPropertySection" />

      <operatorElement id="ImaVisionOperator"
                 name="ImaVisionOperator"
                 logName="ImaVisionOperator"
                 description="ImaVisionOperator"
                 type="Kengic.Was.Operator.ImaVision.ImaVisionOperator,Kengic.Was.Operator.ImaVision, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                 startupType="Automatic"
                 filePath="Operators\ImaVisionOperator.config"
                 sectionName="operatorPropertySection" />
      <operatorElement id="WebEasyOperator"
                       name="WebEasyOperator"
                       logName="WebEasyOperator"
                       description="WebEasyOperator"
                       type="Kengic.Was.Operator.WebEasy.WebEasyOperator,Kengic.Was.Operator.WebEasy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                       startupType="Automatic"
                       filePath="Operators\WebEasyOperator.config"
                       sectionName="operatorPropertySection" />
      <operatorElement id="JdOperator"
               name="JdOperator"
               logName="JdOperator"
               description="JdOperator"
               type="Kengic.Was.Operator.Jd.JdOperator,Kengic.Was.Operator.Jd, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
               startupType="Automatic"
               filePath="Operators\JdOperator.config"
               sectionName="operatorPropertySection" />


    </operators>
  </operatorSection>
</configuration>