<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="operatorPropertySection"
             type="Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorPropertySection, Kengic.Was.CrossCutting.ConfigurationSection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <operatorPropertySection xmlns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Operator">
    <parameters>
      <parameterElement id="OperatorName"
                        type="System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="ImaVisionOperator" />
      <parameterElement id="SourceWorkTaskPrefix"
                        type="System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="BK_" />
      <parameterElement id="ReceiveQueueMaxNumber"
                        type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="5000" />
      <parameterElement id="SendQueueMaxNumber"
                        type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="5000" />   
      <parameterElement id="PackageTriggerIntervalTime"
                        type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="3000" />

    </parameters>

    <threads>
      <threadElement id="MessageExeThread"
                     name="MessageExeThread"
                     interval="10"
                     enable="true">
        <processes>
          <processElement id="AsyncReceiveMessageProcess"
                          name="AsyncReceiveMessageProcess"
                          priority="1" />
          <processElement id="WorkTaskExecuteProcess"
                          name="WorkTaskExecuteProcess"
                          priority="60" />
          <processElement id="AsyncSendMessageProcess"
                          name="AsyncSendMessageProcess"
                          priority="100" />
        </processes>
      </threadElement>
    </threads>

    <messageQueues>
      <messageQueueElement id="ReceiveMessageQueue"
                           enable="true" />
      <messageQueueElement id="SendMessageQueue"
                           enable="true" />
    </messageQueues>

    <activitys>
      <activityElement id="101"
                       code="NotifySubOperatorCreateWorkTask"
                       executeOperator="SorterOperator"
                       activityContractName="AsyncCreateSorterSubWorkTask"
                       dataType="SorterSubWorkTask" />


    </activitys>
  </operatorPropertySection>
</configuration>