<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="operatorPropertySection"
             type="Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorPropertySection, Kengic.Was.CrossCutting.ConfigurationSection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <operatorPropertySection xmlns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Operators">
    <parameters>
      <parameterElement id="OperatorName"
                        type="System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="SorterOperator" />
      <parameterElement id="Simulation"
                        type="System.Boolean, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="false" />
      <parameterElement id="IfFinishExecuteWorkTask"
                        type="System.Boolean, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="false" />
      <parameterElement id="IfUpdatePackageNumber"
                        type="System.Boolean, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="true" />
      <parameterElement id="ExecuteWorkTaskPrefix"
                        type="System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="SrtExe-" />
      <parameterElement id="SubWorkTaskPrefix"
                        type="System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="SrtSub-" />
      <parameterElement id="MessageWorkTaskPrefix"
                        type="System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="SrtMsg-" />
      <parameterElement id="ReceiveQueueMaxNumber"
                        type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="5000" />
      <parameterElement id="SendQueueMaxNumber"
                        type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="5000" />
      <parameterElement id="SortingMessageTimeout"
                        type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="600" />
      <parameterElement id="SortingExecuteWorkTaskTimeout"
                        type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        value="7" />
    </parameters>

    <threads>
      <threadElement id="MessageExeThread"
                     name="MessageExeThread"
                     interval="6"
                     enable="true">
        <processes>
          <processElement id="AsyncReceiveMessageProcess"
                          name="AsyncReceiveMessageProcess"
                          priority="1" />
          <processElement id="WorkTaskExecuteProcess"
                          name="WorkTaskExecuteProcess"
                          priority="60" />
          <processElement id="AsyncSendMessageProcess"
                          name="AsyncSendMessageProcess"
                          priority="100" />
        </processes>
      </threadElement>
    </threads>

    <messageQueues>
      <messageQueueElement id="ReceiveMessageQueue"
                           enable="true" />
      <messageQueueElement id="SendMessageQueue"
                           enable="true" />
    </messageQueues>

    <activitys>
      <activityElement id="101"
                       code="NotifyRequestDestination"
                       executeOperator="ImaVisionOperator"
                       activityContractName="AsyncRequestDestination"
                       dataType="SorterSourceWorkTask" />

      <activityElement id="102"
                       code="NotifyTopOperatorFinishWorkTask"
                       executeOperator="JdOperator"
                       activityContractName="AsyncFinishSorterWorkTask"
                       dataType="SorterSourceWorkTask" />
                       

     

    </activitys>
  </operatorPropertySection>
</configuration>